.categories {
  .header {
    justify-content: center;
    &__title {
      font-size: 3rem;
      font-weight: 100;
    }
    &__button {
      position: absolute;
      top: 1rem;
      left: 3rem;
    }
  }
  .main-content {
    margin: 2rem auto;
    max-width: 80%;
  }
}
