.homepage-wishlist {
  flex-grow: 1;
  margin: 0.5rem;

  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
  &--container {
    width: 100%;
    min-width: 16rem;
    text-align: left;
  }
  &--title {
    color: #000000;
    font-size: 1.15rem;
  }
  &--text {
    color: #000000;
  }
}
